<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{currentYear | date : 'yyyy'}} &copy;  by <a href="https:freelancer.com/u/srizn">Srijan Lama</a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end footer-links d-none d-sm-block">
                    <a href="javascript:vod(0);">Aboiut Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->