<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Profile"></app-page-title>

<div class="row">
    <div class="col-lg-4 col-xl-3">
        <app-profile-personal-info [user]="user"></app-profile-personal-info>
    </div>
    <!-- end col -->
    <div class="col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class=" nav-pills navtab-bg nav-justified p-1">
                    <li [ngbNavItem]="'activity'">
                        <a ngbNavLink>Activity</a>
                        <ng-template ngbNavContent>
                            <app-profile-activity [activities]="activities"></app-profile-activity>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'messages'">
                        <a ngbNavLink>Messages</a>
                        <ng-template ngbNavContent>
                            <app-profile-messages [messages]="messages"></app-profile-messages>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'projects'">
                        <a ngbNavLink>Projects</a>
                        <ng-template ngbNavContent>
                            <app-profile-projects [projects]="projects"></app-profile-projects>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'tasks'">
                        <a ngbNavLink>Tasks</a>
                        <ng-template ngbNavContent>
                            <app-profile-tasks [taskList]="taskList"></app-profile-tasks>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'files'">
                        <a ngbNavLink>Files</a>
                        <ng-template ngbNavContent>
                            <app-profile-files [files]="files"></app-profile-files>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>
<!-- end row -->