<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Wizard"></app-page-title>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Default wizard</h4>
                <p class="sub-header">Example of Default wizard</p>
                <form [formGroup]="formWizard1">

                    <ng-wizard>
                        <ng-wizard-step [title]="'Account'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="account">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-userName">User name</label>
                                            <input type="text" class="form-control" id="sw-default-userName"
                                                placeholder="Enter User name..." formControlName="userName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-password"> Password</label>
                                            <input type="password" id="sw-default-password" class="form-control"
                                                formControlName="password" placeholder="Enter Password...">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-confirm">Re Password</label>
                                            <input type="password" id="sw-default-confirm" class="form-control"
                                                placeholder="Enter Re Password..." formControlName="rePassword">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Profile'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="profile">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-first-name">First name</label>
                                            <input type="text" id="sw-default-first-name" class="form-control"
                                                placeholder="Enter First name..." formControlName="firstName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-last-name">Last name</label>
                                            <input type="text" id="sw-default-last-name" class="form-control"
                                                placeholder="Enter Last name..." formControlName="lastName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-default-email">Email</label>
                                            <input type="email" id="sw-default-email" class="form-control"
                                                placeholder="Enter Email..." formControlName="email">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Finish'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <div class="mb-3">
                                                <i class="uil uil-check-square text-success h2"></i>
                                            </div>
                                            <h3>Thank you !</h3>
                                            <p class="w-75 mb-2 mx-auto text-muted">
                                                Quisque nec turpis at urna dictum luctus. Suspendisse convallis
                                                dignissim
                                                eros
                                                at volutpat. In egestas
                                                mattis dui. Aliquam mattis dictum aliquet.
                                            </p>
                                            <div class="mb-3">
                                                <div class="form-check d-inline-block">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="sm-default-customCheck" formControlName="acceptTerms">
                                                    <label class="form-check-label" for="sm-default-customCheck">I agree
                                                        with
                                                        the Terms and
                                                        Conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Arrows in Header</h4>
                <p class="sub-header">Example of arrows wizard</p>

                <form [formGroup]="formWizard2">

                    <ng-wizard [config]="config1">
                        <ng-wizard-step [title]="'Account'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="account">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-userName">User name</label>
                                            <input type="text" class="form-control" id="sw-arrows-userName"
                                                placeholder="Enter User name..." formControlName="userName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-password"> Password</label>
                                            <input type="password" id="sw-arrows-password" class="form-control"
                                                formControlName="password" placeholder="Enter Password...">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-confirm">Re Password</label>
                                            <input type="password" id="sw-arrows-confirm" class="form-control"
                                                placeholder="Enter Re Password..." formControlName="rePassword">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Profile'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="profile">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-first-name">First name</label>
                                            <input type="text" id="sw-arrows-first-name" class="form-control"
                                                placeholder="Enter First name..." formControlName="firstName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-last-name">Last name</label>
                                            <input type="text" id="sw-arrows-last-name" class="form-control"
                                                placeholder="Enter Last name..." formControlName="lastName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-arrows-email">Email</label>
                                            <input type="email" id="sw-arrows-email" class="form-control"
                                                placeholder="Enter Email..." formControlName="email">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Finish'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <div class="mb-3">
                                                <i class="uil uil-check-square text-success h2"></i>
                                            </div>
                                            <h3>Thank you !</h3>
                                            <p class="w-75 mb-2 mx-auto text-muted">
                                                Quisque nec turpis at urna dictum luctus. Suspendisse convallis
                                                dignissim
                                                eros
                                                at volutpat. In egestas
                                                mattis dui. Aliquam mattis dictum aliquet.
                                            </p>
                                            <div class="mb-3">
                                                <div class="form-check d-inline-block">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="sm-arrows-customCheck" formControlName="acceptTerms">
                                                    <label class="form-check-label" for="sm-arrows-customCheck">I agree
                                                        with
                                                        the Terms and
                                                        Conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </form>

            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Circles in Header</h4>
                <p class="sub-header">Example of Circles wizard</p>

                <form [formGroup]="formWizard3">

                    <ng-wizard [config]="config2">
                        <ng-wizard-step [title]="'01'" [description]="'Account'">
                            <div class="p-3">
                                <div class="row" formGroupName="account">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-userName">User name</label>
                                            <input type="text" class="form-control" id="sw-circles-userName"
                                                placeholder="Enter User name..." formControlName="userName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-password"> Password</label>
                                            <input type="password" id="sw-circles-password" class="form-control"
                                                formControlName="password" placeholder="Enter Password...">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-confirm">Re Password</label>
                                            <input type="password" id="sw-circles-confirm" class="form-control"
                                                placeholder="Enter Re Password..." formControlName="rePassword">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'02'" [description]="'Profile'">
                            <div class="p-3">
                                <div class="row" formGroupName="profile">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-first-name">First name</label>
                                            <input type="text" id="sw-circles-first-name" class="form-control"
                                                placeholder="Enter First name..." formControlName="firstName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-last-name">Last name</label>
                                            <input type="text" id="sw-circles-last-name" class="form-control"
                                                placeholder="Enter Last name..." formControlName="lastName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-circles-email">Email</label>
                                            <input type="email" id="sw-circles-email" class="form-control"
                                                placeholder="Enter Email..." formControlName="email">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'03'" [description]="'Finish'">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <div class="mb-3">
                                                <i class="uil uil-check-square text-success h2"></i>
                                            </div>
                                            <h3>Thank you !</h3>
                                            <p class="w-75 mb-2 mx-auto text-muted">
                                                Quisque nec turpis at urna dictum luctus. Suspendisse convallis
                                                dignissim
                                                eros
                                                at volutpat. In egestas
                                                mattis dui. Aliquam mattis dictum aliquet.
                                            </p>
                                            <div class="mb-3">
                                                <div class="form-check d-inline-block">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="sm-circles-customCheck" formControlName="acceptTerms">
                                                    <label class="form-check-label" for="sm-circles-customCheck">I agree
                                                        with
                                                        the Terms and
                                                        Conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </form>

            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Dots in Header</h4>
                <p class="sub-header">Example of Dots wizard</p>
                <form [formGroup]="formWizard4">

                    <ng-wizard [config]="config3">
                        <ng-wizard-step [title]="'Account'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="account">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-userName">User name</label>
                                            <input type="text" class="form-control" id="sw-dots-userName"
                                                placeholder="Enter User name..." formControlName="userName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-password"> Password</label>
                                            <input type="password" id="sw-dots-password" class="form-control"
                                                formControlName="password" placeholder="Enter Password...">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-confirm">Re Password</label>
                                            <input type="password" id="sw-dots-confirm" class="form-control"
                                                placeholder="Enter Re Password..." formControlName="rePassword">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Profile'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row" formGroupName="profile">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-first-name">First name</label>
                                            <input type="text" id="sw-dots-first-name" class="form-control"
                                                placeholder="Enter First name..." formControlName="firstName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-last-name">Last name</label>
                                            <input type="text" id="sw-dots-last-name" class="form-control"
                                                placeholder="Enter Last name..." formControlName="lastName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="sw-dots-email">Email</label>
                                            <input type="email" id="sw-dots-email" class="form-control"
                                                placeholder="Enter Email..." formControlName="email">
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>

                        <ng-wizard-step [title]="'Finish'" [description]="'Step description'">
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <div class="mb-3">
                                                <i class="uil uil-check-square text-success h2"></i>
                                            </div>
                                            <h3>Thank you !</h3>
                                            <p class="w-75 mb-2 mx-auto text-muted">
                                                Quisque nec turpis at urna dictum luctus. Suspendisse convallis
                                                dignissim
                                                eros
                                                at volutpat. In egestas
                                                mattis dui. Aliquam mattis dictum aliquet.
                                            </p>
                                            <div class="mb-3">
                                                <div class="form-check d-inline-block">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="sm-dots-customCheck" formControlName="acceptTerms">
                                                    <label class="form-check-label" for="sm-dots-customCheck">I agree
                                                        with
                                                        the Terms and
                                                        Conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </form>

            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->