<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="profileImage" class="card-img" alt="shreyu" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title mb-1">{{userName}}</h5>
                <h6 class="text-muted fw-normal mt-0 mb-3">{{location}}</h6>
                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm w-100 me-1">Follow</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-white btn-sm w-100">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>