<div class="card">
    <div class="card-body">
        <div>
            <h5 class="header-title mb-1 mt-0">Toasts</h5>
            <p class="sub-header">
                Push notifications to your visitors with a toast, a lightweight and easily customizable alert message
            </p>

            <div>
                <ngb-toast [autohide]="true" [delay]="11000" class="mb-2">
                    <ng-template ngbToastHeader>
                        <img src="assets/images/logo-sm.png" alt="brand-logo" height="18" class="me-1" />
                        <strong class="me-auto">Shreyu</strong>
                        <small>11 mins ago</small>
                    </ng-template>
                    Hello, world! This is a toast message.
                </ngb-toast>
                <!-- end toast -->

                <ngb-toast [autohide]="true" [delay]="15000" class="mb-2">
                    <ng-template ngbToastHeader>
                        <img src="assets/images/logo-sm.png" alt="brand-logo" height="18" class="me-1" />
                        <strong class="me-auto">Shreyu</strong>
                        <small>12 mins ago</small>
                    </ng-template>
                    Hello, world! This is a toast message.
                </ngb-toast>
                <!-- end toast -->

                <ngb-toast [autohide]="true" [delay]="20000" class="mb-2">
                    <ng-template ngbToastHeader>
                        <img src="assets/images/logo-sm.png" alt="brand-logo" height="18" class="me-1" />
                        <strong class="me-auto">Shreyu</strong>
                        <small>15 mins ago</small>
                    </ng-template>
                    Hello, world! This is a toast message.
                </ngb-toast>
                <!-- end toast -->


                <ngb-toast [autohide]="true" [delay]="30000">
                    <ng-template ngbToastHeader>
                        <img src="assets/images/logo-sm.png" alt="brand-logo" height="18" class="me-1" />
                        <strong class="me-auto">Shreyu</strong>
                        <small>21 mins ago</small>
                    </ng-template>
                    Hello, world! This is a toast message.
                </ngb-toast>
                <!-- end toast -->
            </div>
        </div>
    </div>
</div>