<div class="card profile-widget">
    <img [src]="coverImage" [alt]="userName" class="card-img-top" />
    <div class=" card-action float-end" ngbDropdown>

        <a ngbDropdownToggle class="arrow-none" href="javascript:void(0)" aria-expanded="false">
            <i class="uil uil-ellipsis-v fs-16 text-white"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu-end">
            <!-- item-->
            <a ngbDropdownItem>
                <i class="uil uil-edit-alt me-2"></i>Edit
            </a>
            <!-- item-->
            <a ngbDropdownItem>
                <i class="uil uil-refresh me-2"></i>Refresh
            </a>
            <div class="dropdown-divider"></div>
            <!-- item-->
            <a ngbDropdownItem class="text-danger">
                <i class="uil uil-trash me-2"></i>Delete
            </a>
        </div>
    </div>

    <div class="card-body text-center p-0">
        <div class="profile-info pb-3">
            <img [src]="profileImage" alt="" class="img-thumbnail avatar-xl rounded-circle" />
            <h4 class="mt-2 mb-0">{{userName}}</h4>
            <h6 class="text-muted fw-normal mt-2 mb-3">{{designation}}</h6>
            <button type="button" class="btn btn-primary btn-sm me-1">Follow</button>
            <button type="button" class="btn btn-white btn-sm">Message</button>
        </div>
    </div>
</div>