<div class="inbox-leftbar card border-0 pb-1 pb-lg-4 h-100">

    <div class="card-body d-flex align-items-start p-0">
        <img src="assets/images/users/avatar-5.jpg" class="me-2 rounded-circle" height="48" alt="Shreyu N" />
        <div class="flex-grow-1">
            <h5 class="mt-2 mb-0 fs-15 fw-bold">Shreyu N</h5>
            <span class="text-muted fs-12">Logout <i class="bi bi-arrow-right ms-1"></i></span>
        </div>
    </div>

    <hr>

    <div class="mail-list mb-0 mb-lg-4 fs-15">
        <a href="javascript:void(0);" class="list-group-item border-0" id="headingOne">
            <i class="bi bi-house me-2"></i>Home
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-card-text me-2"></i>Documents
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-download me-2"></i>Downloads
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-music-note-beamed me-2"></i>Music
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-image me-2"></i>Pictures
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-youtube me-2"></i>Video
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-clock me-2"></i>Recent
        </a>
        <a href="javascript:void(0);" class="list-group-item border-0 my-1 text-muted" id="headingOne">
            <i class="bi bi-trash me-2"></i>Bin
        </a>
    </div>

    <div class="card mt-4 mb-0 border-0">
        <div class="p-2 text-center">
            <strong class="me-2">Your Storage</strong>
        </div>
        <div class="card-body">
            <div id="storage" class="apex-charts" dir="ltr">
                <apx-chart class="apex-charts" [chart]="chartOptions.chart!" [plotOptions]="chartOptions.plotOptions!"
                    [colors]="chartOptions.colors!" [series]="chartOptions.series!" [labels]="chartOptions.labels!"
                    *ngIf="chartOptions">
                </apx-chart>
            </div>
        </div>
        <div class="fs-13 text-center">
            <strong class="me-2">File Manager</strong>
            <p class="text-muted mb-0">107.52 GB of 256 GB</p>
        </div>
    </div>

</div>