<!-- TAGLINE -->
<app-landing-tagline></app-landing-tagline>

<!-- NAVBAR -->
<app-landing-navbar [loggedInUser]="loggedInUser"></app-landing-navbar>

<!-- HERO -->
<app-landing-hero></app-landing-hero>

<!-- LAYOUTS -->
<app-landing-layouts-demo></app-landing-layouts-demo>

<!-- PAGES -->
<app-landing-pages-demo></app-landing-pages-demo>

<!-- FEATURES -->
<app-landing-features></app-landing-features>

<!-- FAQ -->
<app-landing-faqs></app-landing-faqs>

<!-- FOOTER -->
<app-landing-footer></app-landing-footer>