<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Compose Email"></app-page-title>

<div class="row">
    <div class="col-lg-12">
        <div class="email-container">

            <!-- Left sidebar -->
            <app-email-left-panel>
                <a [routerLink]="['../inbox']" class="btn btn-danger d-block">Inbox</a>
            </app-email-left-panel>
            <!-- End Left sidebar -->

            <div class="inbox-rightbar p-4">

                <div>
                    <form #mail="ngForm">
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="To" name="mailto" required
                                [(ngModel)]="mailTo" #mailto="ngModel"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                [ngClass]="{'is-invalid': mail.submitted && mailto.invalid}">

                            <div *ngIf="mail.submitted && mailto.invalid" class="invalid-feedback">

                                <div *ngIf="mailto.errors?.required">
                                    Email is required.
                                </div>
                                <div *ngIf="mailto.errors?.pattern">
                                    Email must be valid
                                </div>

                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Subject" name="mail-subject"
                                [(ngModel)]="mailSubject">
                        </div>

                        <div class="mb-3 card border-0">
                            <div id="snow-editor">
                                <quill-editor [(ngModel)]="mailBody" name="mail-body" theme="snow"
                                    [styles]="{height:'300px'}">
                                </quill-editor>
                            </div> <!-- end Snow-editor-->
                        </div>

                        <div class="mb-3 pt-2">
                            <div class="text-end">
                                <button type="button" class="btn btn-success me-1">
                                    <i class="uil uil-envelope-edit"></i> Draft
                                </button>
                                <button class="btn btn-primary"> <span>Send</span>
                                    <i class="uil uil-message ms-2"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div> <!-- end card-->


            </div>
            <!-- end inbox-rightbar-->

            <div class="clearfix"></div>
        </div>

        <!-- end card -->
    </div> <!-- end Col -->

</div><!-- End row -->