<div id="wrapper">
    <!-- topbar -->
    <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()"
        layoutType="two-column" [leftSidebarTheme]="leftSidebarTheme"></app-topbar>
    <!-- left side bar-->
    <app-two-column-left-sidebar [sidebarType]="leftSidebarType">
    </app-two-column-left-sidebar>

    <div class="content-page" *ngIf="reRender">
        <div class="content">
            <!-- content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>

<!-- right sidebar -->
<app-right-sidebar layoutType="two-column" [layoutWidth]="layoutWidth" [menuPosition]="menuPosition"
    [leftSidebarTheme]="leftSidebarTheme" [leftSidebarType]="leftSidebarType" [topbarTheme]="topbarTheme"
    [showSidebarUserInfo]="showSidebarUserInfo">
</app-right-sidebar>