<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="float-end" ngbDropdown>
                    <a href="javascript:void(0);" class="arrow-none text-muted" id="taskDetailDropdown"
                        aria-expanded="false" ngbDropdownToggle>
                        <i class='uil uil-ellipsis-h'></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>
                            <i class='uil uil-file-upload me-1'></i>Attachment
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>
                            <i class='uil uil-edit me-1'></i>Edit
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem>
                            <i class='uil uil-file-copy-alt me-1'></i>Mark as Duplicate
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- item-->
                        <a href="javascript:void(0);" ngbDropdownItem class="text-danger">
                            <i class='uil uil-trash-alt me-1'></i>Delete
                        </a>
                    </div> <!-- end dropdown menu-->
                </div> <!-- end dropdown-->

                <div class="form-check float-start">
                    <input type="checkbox" class="form-check-input" id="completedCheck" name="task-complete-checkbox">
                    <label class="form-check-label" for="completedCheck">
                        Mark as completed
                    </label>
                </div> <!-- end form-checkbox-->
            </div>
        </div>

        <hr class="my-2" />

        <div class="row">
            <div class="col">
                <h4 class="mt-0">{{selectedTask.title}}</h4>

                <div class="row">
                    <div class="col-6">
                        <!-- assignee -->
                        <p class="mt-2 mb-1 text-muted">Assigned To</p>
                        <div class="d-flex">
                            <img [src]="selectedTask.assignee_avatar" [alt]="selectedTask.assigned_to"
                                class="rounded-circle me-2" height="24" />
                            <div class="flex-grow-1">
                                <h5 class="mt-1 fs-14">{{selectedTask.assigned_to}}</h5>
                            </div>
                        </div>
                        <!-- end assignee -->
                    </div> <!-- end col -->

                    <div class="col-6">
                        <!-- start due date -->
                        <p class="mt-2 mb-1 text-muted">Due Date</p>
                        <div class="d-flex">
                            <i class='uil uil-schedule text-success me-1'></i>
                            <div class="flex-grow-1">
                                <h5 class="mt-1 fs-14">{{selectedTask.due_date}}</h5>
                            </div>
                        </div>
                        <!-- end due date -->
                    </div> <!-- end col -->
                </div> <!-- end row -->

                <!-- task description -->
                <div class="row mt-3">
                    <div class="col">

                        <div id="bubble-editor">
                            <quill-editor [(ngModel)]="selectedTask.description" theme="bubble"
                                [styles]="{height:'150px'}"></quill-editor>

                        </div> <!-- end Snow-editor-->

                    </div> <!-- end col -->
                </div>
                <!-- end task description -->

                <!-- start sub tasks/checklists -->
                <h5 class="mt-4 mb-2 fs-15">Checklists/Sub-tasks</h5>
                <div class="form-check mt-1" *ngFor="let item of selectedTask.checklists">
                    <input type="checkbox" class="form-check-input" id="checklist{{item.id}}"
                        name="task-complete-checkbox">
                    <label class="form-check-label strikethrough" for="checklist{{item.id}}">
                        {{item.title}}
                    </label>
                </div>
                <!-- end sub tasks/checklists -->

                <!-- start attachments -->
                <h5 class="mt-4 mb-2 fs-16">Attachments</h5>
                <div class="card mb-2 shadow-none border" *ngFor="let item of selectedTask.attachments">
                    <div class="p-1 px-2">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img [src]="item.previewImage" class="avatar-sm rounded" alt="file-image">
                            </div>
                            <div class="col ps-0">
                                <a href="javascript:void(0);" class="text-muted fw-bold">{{item.filename}}</a>
                                <p class="mb-0">{{item.size}}</p>
                            </div>
                            <div class="col-auto">
                                <!-- Button -->
                                <a href="javascript:void(0);" placement="bottom" ngbTooltip="Download"
                                    class="btn btn-link text-muted btn-lg p-0">
                                    <i class='uil uil-cloud-download fs-14'></i>
                                </a>
                                <a href="javascript:void(0);" placement="bottom" ngbTooltip="Delete"
                                    class="btn btn-link text-danger btn-lg p-0">
                                    <i class='uil uil-multiply fs-14'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end attachments -->

                <!-- comments -->
                <div class="row mt-3">
                    <div class="col">
                        <h5 class="mb-2 fs-16">Comments</h5>
                        <ng-container *ngFor="let comment of selectedTask.comments;let i=index">
                            <div class="d-flex p-1" [class.mt-3]="i===0">
                                <img [src]="comment.author_avatar" class="me-2 rounded-circle" height="36"
                                    [alt]="comment.author" />
                                <div class="flex-grow-1">
                                    <h5 class="mt-0 mb-0 fs-14">
                                        <span class="float-end text-muted fs-12">{{comment.posted_on}}</span>
                                        {{comment.author}}
                                    </h5>
                                    <p class="mt-1 mb-0 text-muted">
                                        {{comment.text}}
                                    </p>
                                </div>
                            </div> <!-- end comment -->

                            <hr />

                        </ng-container>

                    </div> <!-- end col -->
                </div> <!-- end row -->

                <div class="row mt-1">
                    <div class="col">
                        <div class="border rounded">
                            <form (ngSubmit)="commentForm.valid" #commentForm="ngForm" class="comment-area-box">
                                <textarea rows="3" class="form-control border-0 resize-none"
                                    placeholder="Your comment..." [(ngModel)]="newComment" name="comment"
                                    #comment="ngModel"></textarea>
                                <div class="p-2 bg-light">
                                    <div class="float-end">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            <i class='uil uil-message me-1'></i>Submit
                                        </button>
                                    </div>
                                    <div>
                                        <a [routerLink]="['.']" class="btn btn-sm px-1 btn-light">
                                            <i class='uil uil-cloud-upload'></i>
                                        </a>
                                        <a [routerLink]="['.']" class="btn btn-sm px-1 btn-light">
                                            <i class='uil uil-at'></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end .border-->
                    </div> <!-- end col-->
                </div> <!-- end row-->
                <!-- end comments -->
            </div> <!-- end col -->
        </div> <!-- end row-->
    </div> <!-- end card-body -->
</div> <!-- end card-->