<footer class="pt-5 pb-3 position-relative" style="background: url('../assets/images/covers/pattern.png') center top;">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">


             

                <p class="fs-15 mt-4">Ng Srijan makes it easier to build better websites with
                    <br> great speed. Save hundreds of hours of design
                    <br> and development by using it.
                </p>
            </div>


            <div class="col-md-2">
                <h5 class="">Help</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="" class="text-dark">Get Support</a></li>
                    <li class="mt-2"><a href="" class="text-dark">Documentation</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="mt-4 text-center mb-0">© {{currentYear | date : 'yyyy'}} Srijan Lama</p>
                </div>
            </div>
        </div>
    </div>
</footer>