<footer class="pt-5 pb-3 position-relative" style="background: url('../assets/images/covers/pattern.png') center top;">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">


                <div class="auth-logo me-lg-5">
                    <a [routerLink]="['/']" class="logo logo-dark">
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="28">
                        </span>
                    </a>

                    <a [routerLink]="['/']" class="logo logo-light">
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="28">
                        </span>
                    </a>
                </div>

                <p class="fs-15 mt-4">Shreyu makes it easier to build better websites with
                    <br> great speed. Save hundreds of hours of design
                    <br> and development by using it.
                </p>
            </div>


            <div class="col-md-2">
                <h5 class="">Help</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="https://coderthemes.com" class="text-dark">Get Support</a></li>
                    <li class="mt-2"><a href="http://shreyu-ng.coderthemes.com/docs" class="text-dark">Documentation</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="mt-4 text-center mb-0">© {{currentYear | date : 'yyyy'}} Shreyu. Design and coded by
                        Coderthemes</p>
                </div>
            </div>
        </div>
    </div>
</footer>