<div class="card">
    <div class="card-body">
        <h6 class="header-title mb-3">{{cardTitle}}</h6>
        <div class="d-flex border-top pt-2" *ngFor="let member of memberList;let i=index" [class.mt-1]="i!==0">
            <img [src]="member.avatar" class="avatar rounded me-3" alt="shreyu">
            <div class="flex-grow-1">
                <h5 class="mt-1 mb-0 fs-15">{{member.name}}</h5>
                <h6 class="text-muted fw-normal mt-1 mb-2">{{member.designation}}</h6>
            </div>
            <div class="align-self-center float-end" ngbDropdown>
                <a ngbDropdownToggle class="arrow-none text-muted" href="javascript:void(0)" aria-expanded="false">
                    <i class="uil uil-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu-end" ngbDropdownMenu>
                    <!-- item-->
                    <a href="javascript:void(0);" ngbDropdownItem>
                        <i class="uil uil-edit-alt me-2"></i>Edit
                    </a>
                    <!-- item-->
                    <a href="javascript:void(0);" ngbDropdownItem>
                        <i class="uil uil-exit me-2"></i>Remove from Team
                    </a>
                    <div class="dropdown-divider"></div>
                    <!-- item-->
                    <a href="javascript:void(0);" ngbDropdownItem class="text-danger">
                        <i class="uil uil-trash me-2"></i>Delete
                    </a>
                </div>
            </div>
        </div>